{% extends 'core/base.html' %}
{% load static %}

{% block title %}  | Listings  {% endblock %}

{% block content %}
<section class="section-services section-t8">
<main id="main">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mt-4"><a href='' class="btn btn-outline-success">My Account</a></li>

                            <li class="mt-4"><a href="{% url 'account_change_password' %}"
                                                class="btn btn-outline-success">Change Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Post ID</th>
                        <th scope="col">Post List</th>
                        <th scope="col">Post Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if post_list_dashboard %}
                        {% for post in post_list_dashboard %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>{{ post.listing }}</td>
                                <td><a href="{% url 'listing' post.listing_id %}" class="btn btn-danger">View List</a></td>
                            </tr>

                        {% endfor %}

                    {% else %}

                        <p class="display-4">You don not have any post.</p>
                    {% endif %}


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</main>
</select>
{% endblock %}